NodeRed/Consulta.json
[{"id":"63f2bec.0f2934","type":"tab","label":"Consulta","disabled":false,"info":""},{"id":"65325e84.802e8","type":"mysql","z":"63f2bec.0f2934","mydb":"6cf09c01.dd67a4","name":"","x":560,"y":100,"wires":[["3501e8b7.c7ac68"]]},{"id":"32e276a4.ab822a","type":"inject","z":"63f2bec.0f2934","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ejecutar ","payloadType":"str","x":260,"y":100,"wires":[["5c9dfe17.3f5da"]]},{"id":"5c9dfe17.3f5da","type":"function","z":"63f2bec.0f2934","name":"","func":"let nombre1 = \"juan\";\nlet edad1 = 23;\n\nmsg.topic = \"INSERT INTO usuarios(nombre, edad) VALUES ('\"+ nombre1 +\"','\"+ edad1 +\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":100,"wires":[["65325e84.802e8"]]},{"id":"3501e8b7.c7ac68","type":"debug","z":"63f2bec.0f2934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":100,"wires":[]},{"id":"c9072d41.6d171","type":"mysql","z":"63f2bec.0f2934","mydb":"6cf09c01.dd67a4","name":"","x":560,"y":200,"wires":[["1ce5fd82.c2ac22","1459dc3c.4e4b54"]]},{"id":"150d77d3.028aa8","type":"function","z":"63f2bec.0f2934","name":"","func":"let nombre1 = \"Gabriel\";\nlet edad1 = 23;\n\n//msg.topic = \"SELECT * FROM usuarios where id = 8\";\nmsg.topic = \"SELECT * FROM usuarios \";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":200,"wires":[["c9072d41.6d171"]]},{"id":"1ce5fd82.c2ac22","type":"debug","z":"63f2bec.0f2934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"1459dc3c.4e4b54","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].nombre; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":260,"wires":[[]]},{"id":"e2cb4b10.223af8","type":"comment","z":"63f2bec.0f2934","name":"Insertar BD","info":"Insertar en la BD de datos","x":240,"y":60,"wires":[]},{"id":"2f9770e0.6a1ed","type":"comment","z":"63f2bec.0f2934","name":"Buscar en BD","info":"Busco si el usuario tiene nombre y si lo encuntro devuelvo algo ","x":250,"y":160,"wires":[]},{"id":"3ccf71e3.e9899e","type":"inject","z":"63f2bec.0f2934","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ejecutar ","payloadType":"str","x":260,"y":200,"wires":[["150d77d3.028aa8"]]},{"id":"64f4b6ef.f48828","type":"comment","z":"63f2bec.0f2934","name":"Ejemplos","info":"","x":240,"y":20,"wires":[]},{"id":"ac08d4df.d88798","type":"ui_form","z":"63f2bec.0f2934","name":"","label":"Registro de Usuarios","group":"6ca1a66d.c02988","order":1,"width":0,"height":0,"options":[{"label":"Identificador","value":"Identificador","type":"text","required":true,"rows":null},{"label":"Nombre","value":"Nombre","type":"text","required":true,"rows":null},{"label":"Edad","value":"Edad","type":"number","required":true,"rows":null},{"label":"Email","value":"Email","type":"text","required":true,"rows":null},{"label":"RFID","value":"RFID","type":"text","required":true,"rows":null},{"label":"Codigo","value":"Codigo","type":"text","required":true,"rows":null},{"label":"Dactilar","value":"Dactilar","type":"text","required":true,"rows":null}],"formValue":{"Identificador":"","Nombre":"","Edad":"","Email":"","RFID":"","Codigo":"","Dactilar":""},"payload":"","submit":"Registrar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":280,"y":420,"wires":[["3ddb24eb.ab5b3c"]]},{"id":"3ddb24eb.ab5b3c","type":"function","z":"63f2bec.0f2934","name":"","func":"let usuario = msg.payload ;\n\nlet Identificador = usuario.Identificador ;\nlet Nombre = usuario.Nombre ;\nlet Edad = usuario.Edad ;\nlet Email = usuario.Email ;\nlet RFID = usuario.RFID ;\nlet Codigo = usuario.Codigo ;\nlet Dactilar = usuario.Dactilar ;\n\nmsg.topic = \"INSERT INTO usuarios(identificador, nombre, edad, email, RFID, codigo, dactilar) VALUES ('\"+ \nIdentificador +\"','\"+ Nombre +\"','\"+ Edad +\"','\"+ Email +\"','\"+ \nRFID +\"','\"+ Codigo +\"','\"+ Dactilar +\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":420,"wires":[["32d95918.0947b6"]]},{"id":"32d95918.0947b6","type":"mysql","z":"63f2bec.0f2934","mydb":"6cf09c01.dd67a4","name":"","x":640,"y":420,"wires":[[]]},{"id":"26cf65bb.9a9e2a","type":"ui_form","z":"63f2bec.0f2934","name":"","label":"Consulta de Usuarios","group":"eb6a762c.8684f8","order":1,"width":0,"height":0,"options":[{"label":"Identificador","value":"Identificador","type":"text","required":true,"rows":null}],"formValue":{"Identificador":""},"payload":"","submit":"Buscar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":280,"y":520,"wires":[["f720ce50.3ca2e"]]},{"id":"f720ce50.3ca2e","type":"function","z":"63f2bec.0f2934","name":"","func":"let Identificador = msg.payload.Identificador ;\nmsg.topic = \"SELECT * FROM usuarios where identificador = '\" + Identificador + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":520,"wires":[["49a9008f.b62f3"]]},{"id":"49a9008f.b62f3","type":"mysql","z":"63f2bec.0f2934","mydb":"6cf09c01.dd67a4","name":"","x":640,"y":520,"wires":[["d6b488d8.711d78","ef4e5e15.8e2c4","9457a5c9.76d1b8","5ed6064c.40aa68","3a34a7e2.308db8","d307136f.f7fa6","79248b20.b57174","6dec8790.30a908"]]},{"id":"d6b488d8.711d78","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = \"Encontrado\"; \n    return msg;\n}else {\n    msg.payload = \"No encontrado\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":520,"wires":[["67f610b5.1a711"]]},{"id":"67f610b5.1a711","type":"ui_text","z":"63f2bec.0f2934","group":"eb6a762c.8684f8","order":1,"width":0,"height":0,"name":"","label":"Estatus","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":520,"wires":[]},{"id":"d49627d2.4a9cf8","type":"ui_text","z":"63f2bec.0f2934","group":"eb6a762c.8684f8","order":1,"width":0,"height":0,"name":"","label":"Identificador","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":560,"wires":[]},{"id":"22325941.231946","type":"ui_text","z":"63f2bec.0f2934","group":"eb6a762c.8684f8","order":1,"width":0,"height":0,"name":"","label":"Edad","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":640,"wires":[]},{"id":"6c418933.d71388","type":"ui_text","z":"63f2bec.0f2934","group":"eb6a762c.8684f8","order":1,"width":0,"height":0,"name":"","label":"Email","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":680,"wires":[]},{"id":"62467ed.69ff28","type":"ui_text","z":"63f2bec.0f2934","group":"eb6a762c.8684f8","order":1,"width":0,"height":0,"name":"","label":"Nombre","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":600,"wires":[]},{"id":"c9b2d747.e46678","type":"ui_text","z":"63f2bec.0f2934","group":"eb6a762c.8684f8","order":1,"width":0,"height":0,"name":"","label":"RFID","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":720,"wires":[]},{"id":"fbc80468.c1de68","type":"ui_text","z":"63f2bec.0f2934","group":"eb6a762c.8684f8","order":1,"width":0,"height":0,"name":"","label":"Codigo","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":760,"wires":[]},{"id":"3ae8de11.e93f92","type":"ui_text","z":"63f2bec.0f2934","group":"eb6a762c.8684f8","order":1,"width":0,"height":0,"name":"","label":"Dactilar","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":800,"wires":[]},{"id":"ef4e5e15.8e2c4","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].identificador; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":560,"wires":[["d49627d2.4a9cf8"]]},{"id":"9457a5c9.76d1b8","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].nombre; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":600,"wires":[["62467ed.69ff28"]]},{"id":"5ed6064c.40aa68","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].edad; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":640,"wires":[["22325941.231946"]]},{"id":"3a34a7e2.308db8","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].email; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":680,"wires":[["6c418933.d71388"]]},{"id":"d307136f.f7fa6","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].RFID; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":720,"wires":[["c9b2d747.e46678"]]},{"id":"79248b20.b57174","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].codigo; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":760,"wires":[["fbc80468.c1de68"]]},{"id":"6dec8790.30a908","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].dactilar; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":800,"wires":[["3ae8de11.e93f92"]]},{"id":"b567a3e7.1e534","type":"ui_button","z":"63f2bec.0f2934","name":"","group":"5bdcb7f1.f7c0f8","order":10,"width":0,"height":0,"passthru":false,"label":"Modificar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GlobalArray","payloadType":"global","topic":"topic","topicType":"msg","x":260,"y":1200,"wires":[["2a1635ac.eb431a"]]},{"id":"c406a41c.6f7ce8","type":"function","z":"63f2bec.0f2934","name":"","func":"\nlet mensaje = msg.payload ;\n\nglobal.set(\"GlobalIdentificador\",mensaje);\n\nmsg.payload = global.get(\"GlobalIdentificador\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":900,"wires":[[]]},{"id":"1f232637.36fe4a","type":"comment","z":"63f2bec.0f2934","name":"Registar","info":"","x":240,"y":380,"wires":[]},{"id":"6c25d4d8.75c67c","type":"comment","z":"63f2bec.0f2934","name":"Consultar","info":"","x":240,"y":480,"wires":[]},{"id":"c7507d86.be778","type":"ui_form","z":"63f2bec.0f2934","name":"","label":"Consulta de Usuarios (Modificar)","group":"5bdcb7f1.f7c0f8","order":1,"width":0,"height":0,"options":[{"label":"Identificador","value":"Identificador","type":"text","required":true,"rows":null}],"formValue":{"Identificador":""},"payload":"","submit":"Buscar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","x":320,"y":860,"wires":[["c2928434.019808"]]},{"id":"c2928434.019808","type":"function","z":"63f2bec.0f2934","name":"","func":"let Identificador = msg.payload.Identificador ;\nmsg.topic = \"SELECT * FROM usuarios where identificador = '\" + Identificador + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":860,"wires":[["c1c50388.4e2cd"]]},{"id":"c1c50388.4e2cd","type":"mysql","z":"63f2bec.0f2934","mydb":"6cf09c01.dd67a4","name":"","x":700,"y":860,"wires":[["f79543e9.8df65","db09d37a.0221b","bc8a72f5.bf369","90e9f1ef.43dd2","fba82baf.9bd518","4374c051.26ea5","c563defb.b96f1","e79f04c3.291398"]]},{"id":"f79543e9.8df65","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = \"Encontrado\"; \n    return msg;\n}else {\n    msg.payload = \"No encontrado\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":860,"wires":[["a80ed33d.1501c"]]},{"id":"a80ed33d.1501c","type":"ui_text","z":"63f2bec.0f2934","group":"5bdcb7f1.f7c0f8","order":2,"width":0,"height":0,"name":"","label":"Estatus","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":860,"wires":[]},{"id":"db09d37a.0221b","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].identificador; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":900,"wires":[["a48463d4.ef26"]]},{"id":"bc8a72f5.bf369","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].nombre; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":940,"wires":[["cd5bff2c.74a1a"]]},{"id":"90e9f1ef.43dd2","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].edad; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":980,"wires":[["a55b08f0.909b38"]]},{"id":"fba82baf.9bd518","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].email; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1020,"wires":[["70650f7c.53358"]]},{"id":"4374c051.26ea5","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].RFID; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1060,"wires":[["a6839ee3.72352"]]},{"id":"c563defb.b96f1","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].codigo; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1100,"wires":[["622f23fc.718bdc"]]},{"id":"e79f04c3.291398","type":"function","z":"63f2bec.0f2934","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].dactilar; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1140,"wires":[["651b2f44.0ac4f"]]},{"id":"38c38435.45db0c","type":"comment","z":"63f2bec.0f2934","name":"Modificar","info":"","x":240,"y":820,"wires":[]},{"id":"cd5bff2c.74a1a","type":"ui_text_input","z":"63f2bec.0f2934","name":"","label":"Nombre","tooltip":"","group":"5bdcb7f1.f7c0f8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1060,"y":940,"wires":[["5fe76591.e949bc"]]},{"id":"a48463d4.ef26","type":"ui_text_input","z":"63f2bec.0f2934","name":"","label":"Identificador","tooltip":"","group":"5bdcb7f1.f7c0f8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1070,"y":900,"wires":[["c406a41c.6f7ce8"]]},{"id":"a55b08f0.909b38","type":"ui_text_input","z":"63f2bec.0f2934","name":"","label":"Edad","tooltip":"","group":"5bdcb7f1.f7c0f8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1050,"y":980,"wires":[["ed0f180c.45f998"]]},{"id":"70650f7c.53358","type":"ui_text_input","z":"63f2bec.0f2934","name":"","label":"Email","tooltip":"","group":"5bdcb7f1.f7c0f8","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1050,"y":1020,"wires":[["ca170e55.d5f66"]]},{"id":"a6839ee3.72352","type":"ui_text_input","z":"63f2bec.0f2934","name":"","label":"RFID","tooltip":"","group":"5bdcb7f1.f7c0f8","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1050,"y":1060,"wires":[["a3701f09.2cc5b"]]},{"id":"622f23fc.718bdc","type":"ui_text_input","z":"63f2bec.0f2934","name":"","label":"Codigo","tooltip":"","group":"5bdcb7f1.f7c0f8","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1060,"y":1100,"wires":[["96890c00.45d368"]]},{"id":"651b2f44.0ac4f","type":"ui_text_input","z":"63f2bec.0f2934","name":"","label":"Dactilar","tooltip":"","group":"5bdcb7f1.f7c0f8","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":1060,"y":1140,"wires":[["3324900e.8817b"]]},{"id":"5fe76591.e949bc","type":"function","z":"63f2bec.0f2934","name":"","func":"\nlet mensaje = msg.payload ;\n\nglobal.set(\"GlobalNombre\",mensaje);\n\nmsg.payload = global.get(\"GlobalNombre\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":940,"wires":[[]]},{"id":"ed0f180c.45f998","type":"function","z":"63f2bec.0f2934","name":"","func":"\nlet mensaje = msg.payload ;\n\nglobal.set(\"GlobalEdad\",mensaje);\n\nmsg.payload = global.get(\"GlobalEdad\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":980,"wires":[[]]},{"id":"ca170e55.d5f66","type":"function","z":"63f2bec.0f2934","name":"","func":"\nlet mensaje = msg.payload ;\n\nglobal.set(\"GlobalEmail\",mensaje);\n\nmsg.payload = global.get(\"GlobalEmail\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1020,"wires":[[]]},{"id":"a3701f09.2cc5b","type":"function","z":"63f2bec.0f2934","name":"","func":"\nlet mensaje = msg.payload ;\n\nglobal.set(\"GlobalRFID\",mensaje);\n\nmsg.payload = global.get(\"GlobalRFID\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1060,"wires":[[]]},{"id":"96890c00.45d368","type":"function","z":"63f2bec.0f2934","name":"","func":"\nlet mensaje = msg.payload ;\n\nglobal.set(\"GlobalCodigo\",mensaje);\n\nmsg.payload = global.get(\"GlobalCodigo\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1100,"wires":[[]]},{"id":"3324900e.8817b","type":"function","z":"63f2bec.0f2934","name":"","func":"\nlet mensaje = msg.payload ;\n\nglobal.set(\"GlobalDactilar\",mensaje);\n\nmsg.payload = global.get(\"GlobalDactilar\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1140,"wires":[[]]},{"id":"2a1635ac.eb431a","type":"function","z":"63f2bec.0f2934","name":"","func":"\n\nlet a1 = global.get(\"GlobalIdentificador\");\nlet a2 = global.get(\"GlobalNombre\");\nlet a3 = global.get(\"GlobalEdad\");\nlet a4 = global.get(\"GlobalEmail\");\nlet a5 = global.get(\"GlobalRFID\");\nlet a6 = global.get(\"GlobalCodigo\");\nlet a7 = global.get(\"GlobalDactilar\");\n//let array = [a1,a2,a3,a4,a5,a6,a7] ;\n//global.set(\"GlobalArray\",array);\n\nmsg.topic = \"UPDATE usuarios SET identificador = '\" + a1 + \"' , nombre = '\" + a2 + \"' , edad = '\" + a3 + \"', email = '\" + a4 + \"', RFID = '\" + a5 + \"', codigo = '\" + a6 + \"' , dactilar = '\" + a7 + \"' WHERE identificador = '\" + a1 + \"' \";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1200,"wires":[["7ac078f7.6e9828"]]},{"id":"7ac078f7.6e9828","type":"mysql","z":"63f2bec.0f2934","mydb":"6cf09c01.dd67a4","name":"","x":580,"y":1200,"wires":[[]]},{"id":"f163730e.e42d8","type":"ui_button","z":"63f2bec.0f2934","name":"","group":"5bdcb7f1.f7c0f8","order":10,"width":0,"height":0,"passthru":false,"label":"Eliminar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GlobalArray","payloadType":"global","topic":"topic","topicType":"msg","x":260,"y":1300,"wires":[["17f33705.e0cf39"]]},{"id":"17f33705.e0cf39","type":"function","z":"63f2bec.0f2934","name":"","func":"\n\nlet a1 = global.get(\"GlobalIdentificador\");\nlet a2 = global.get(\"GlobalNombre\");\nlet a3 = global.get(\"GlobalEdad\");\nlet a4 = global.get(\"GlobalEmail\");\nlet a5 = global.get(\"GlobalRFID\");\nlet a6 = global.get(\"GlobalCodigo\");\nlet a7 = global.get(\"GlobalDactilar\");\n//let array = [a1,a2,a3,a4,a5,a6,a7] ;\n//global.set(\"GlobalArray\",array);\n\nmsg.topic = \"DELETE FROM usuarios WHERE identificador = '\" + a1 + \"' \";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1300,"wires":[["81606bf5.4e3088"]]},{"id":"81606bf5.4e3088","type":"mysql","z":"63f2bec.0f2934","mydb":"6cf09c01.dd67a4","name":"","x":600,"y":1300,"wires":[[]]},{"id":"13db35e7.7ee38a","type":"comment","z":"63f2bec.0f2934","name":"Eliminar","info":"","x":250,"y":1260,"wires":[]},{"id":"e280ef6a.c3531","type":"function","z":"63f2bec.0f2934","name":"","func":"var d = [\n    {\n        \"Nombre\": \"Kadsadoi\",\n        \"Area\": \"Habitacion\",\n        \"Temperatura\": \"39.6\",\n        \"Fecha\": \"12/09/1983\"\n    },\n    {\n        \"Nombre\": \"Kadsadoi\",\n        \"Area\": \"Habitacion\",\n        \"Temperatura\": \"39.6\",\n        \"Fecha\": \"12/09/1983\"\n    }\n]\nmsg.payload = d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1580,"wires":[[]]},{"id":"9481e4d8.09a228","type":"inject","z":"63f2bec.0f2934","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ejecutar ","payloadType":"str","x":260,"y":1580,"wires":[["e280ef6a.c3531"]]},{"id":"62a19229.dea3cc","type":"ui_table","z":"63f2bec.0f2934","group":"a3b0c04a.1cf6e","name":"","order":1,"width":"24","height":"12","columns":[{"field":"nombre","title":"Nombre","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Area","title":"Area","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Temperatura","title":"Temperatura","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Fecha","title":"Fecha","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":910,"y":1460,"wires":[[]]},{"id":"bff3f293.e80ad","type":"function","z":"63f2bec.0f2934","name":"","func":"msg.payload= {\n    command: \"addData\",\n    arguments: [\n        {\n            \"Nombre\": \"gfdi\",\n            \"Area\": \"Hagfdgcion\",\n            \"Temperatura\": \"35.6\",\n            \"Fecha\": \"12/09/gfd83\"\n        },\n        false\n    ],\n    returnPromise: true\n    }\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1520,"wires":[[]]},{"id":"83c7a2bd.a7916","type":"inject","z":"63f2bec.0f2934","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ejecutar ","payloadType":"str","x":260,"y":1520,"wires":[["bff3f293.e80ad"]]},{"id":"64f36cb2.2951d4","type":"comment","z":"63f2bec.0f2934","name":"Historial","info":"","x":250,"y":1420,"wires":[]},{"id":"72602649.8c1a18","type":"inject","z":"63f2bec.0f2934","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"Ejecutar ","payloadType":"str","x":260,"y":1460,"wires":[["3de7f31f.6f81ec"]]},{"id":"3de7f31f.6f81ec","type":"function","z":"63f2bec.0f2934","name":"","func":"\nmsg.topic = \"SELECT * FROM temperaturas\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1460,"wires":[["8343e39a.04de2"]]},{"id":"8343e39a.04de2","type":"mysql","z":"63f2bec.0f2934","mydb":"6cf09c01.dd67a4","name":"","x":600,"y":1460,"wires":[["a988938e.a2f99"]]},{"id":"a988938e.a2f99","type":"function","z":"63f2bec.0f2934","name":"","func":"let d = msg.payload\n    \nmsg.payload = d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1460,"wires":[["62a19229.dea3cc"]]},{"id":"4298b1d2.6b41f","type":"ui_button","z":"63f2bec.0f2934","name":"","group":"19943586.25347a","order":10,"width":0,"height":0,"passthru":false,"label":"Eliminar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GlobalArray","payloadType":"global","topic":"topic","topicType":"msg","x":260,"y":1680,"wires":[["d8ba1739.ee89c8"]]},{"id":"d8ba1739.ee89c8","type":"function","z":"63f2bec.0f2934","name":"","func":"\nmsg.topic = \"DELETE FROM temperaturas\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1680,"wires":[["b8b09645.6c4a78"]]},{"id":"b8b09645.6c4a78","type":"mysql","z":"63f2bec.0f2934","mydb":"6cf09c01.dd67a4","name":"","x":600,"y":1680,"wires":[[]]},{"id":"63bbaa07.fe7af4","type":"comment","z":"63f2bec.0f2934","name":"Eliminar","info":"","x":250,"y":1640,"wires":[]},{"id":"6cf09c01.dd67a4","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"cerradura","tz":"","charset":"UTF8"},{"id":"6ca1a66d.c02988","type":"ui_group","name":"Registro","tab":"cce09ca2.dcf33","order":1,"disp":true,"width":"10","collapse":false},{"id":"eb6a762c.8684f8","type":"ui_group","name":"Consulta","tab":"cce09ca2.dcf33","order":2,"disp":true,"width":"6","collapse":false},{"id":"5bdcb7f1.f7c0f8","type":"ui_group","name":"Modificar","tab":"cce09ca2.dcf33","order":3,"disp":true,"width":"6","collapse":false},{"id":"a3b0c04a.1cf6e","type":"ui_group","name":"Historial de ingresos","tab":"fe2ad1b5.52927","order":1,"disp":true,"width":"25","collapse":false},{"id":"19943586.25347a","type":"ui_group","name":"Opciones","tab":"fe2ad1b5.52927","order":2,"disp":true,"width":"6","collapse":false},{"id":"cce09ca2.dcf33","type":"ui_tab","name":"Administrar Usuarios","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"fe2ad1b5.52927","type":"ui_tab","name":"Historial","icon":"dashboard","order":11,"disabled":false,"hidden":false}]