NodeRed/Proyecto Captone.json
[{"id":"f1c45bda.df6458","type":"tab","label":"Proyecto Capstone Cerradura ","disabled":false,"info":""},{"id":"bb13e14d.ef6f2","type":"mysql","z":"f1c45bda.df6458","mydb":"6cf09c01.dd67a4","name":"","x":480,"y":1640,"wires":[["afd1cacb.fdf6a8"]]},{"id":"c92c219e.902b3","type":"inject","z":"f1c45bda.df6458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ejecutar ","payloadType":"str","x":180,"y":1640,"wires":[["32b6a6d.869205a"]]},{"id":"32b6a6d.869205a","type":"function","z":"f1c45bda.df6458","name":"","func":"let nombre1 = \"Juan\";\nlet edad1 = 23;\n\nmsg.topic = \"INSERT INTO usuarios(nombre, edad) VALUES ('\"+ nombre1 +\"','\"+ edad1 +\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1640,"wires":[["bb13e14d.ef6f2"]]},{"id":"afd1cacb.fdf6a8","type":"debug","z":"f1c45bda.df6458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1640,"wires":[]},{"id":"d164b2e4.fce0d","type":"mysql","z":"f1c45bda.df6458","mydb":"6cf09c01.dd67a4","name":"","x":480,"y":1740,"wires":[["9f8b674.63f8498","5f51464.eec6db8"]]},{"id":"6bb503c2.e98ddc","type":"function","z":"f1c45bda.df6458","name":"","func":"let nombre1 = \"Gabriel\";\nlet edad1 = 23;\n\nmsg.topic = \"SELECT * FROM usuarios where id = 8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1740,"wires":[["d164b2e4.fce0d"]]},{"id":"9f8b674.63f8498","type":"debug","z":"f1c45bda.df6458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1740,"wires":[]},{"id":"5f51464.eec6db8","type":"function","z":"f1c45bda.df6458","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0].nombre; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1840,"wires":[["61654c0d.246d04","64f0413f.fc08f"]]},{"id":"61654c0d.246d04","type":"ui_text_input","z":"f1c45bda.df6458","d":true,"name":"","label":"Nombre - Label","tooltip":"","group":"","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":860,"y":1800,"wires":[[]]},{"id":"64f0413f.fc08f","type":"ui_chart","z":"f1c45bda.df6458","d":true,"name":"","group":"","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":1840,"wires":[[]]},{"id":"d65c9067.2bb48","type":"comment","z":"f1c45bda.df6458","name":"Insertar BD","info":"Insertar en la BD de datos","x":170,"y":1600,"wires":[]},{"id":"379b6035.ba34a","type":"comment","z":"f1c45bda.df6458","name":"Buscar en BD","info":"Busco si el usuario tiene nombre y si lo encuntro devuelvo algo ","x":170,"y":1700,"wires":[]},{"id":"62eb472d.555038","type":"mqtt in","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/comparar/RFID","qos":"2","datatype":"auto","broker":"9024296.b4fb6d8","nl":false,"rap":false,"x":170,"y":120,"wires":[["b429df68.592e"]]},{"id":"5bfb5509.978d4c","type":"inject","z":"f1c45bda.df6458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ejecutar ","payloadType":"str","x":180,"y":1740,"wires":[["6bb503c2.e98ddc"]]},{"id":"51fa7d34.a531f4","type":"function","z":"f1c45bda.df6458","name":"","func":"\nmsg.topic = \"SELECT * FROM usuarios where RFID = '\"+msg.payload+\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["5b341e24.86e6b"]]},{"id":"5b341e24.86e6b","type":"mysql","z":"f1c45bda.df6458","mydb":"6cf09c01.dd67a4","name":"","x":600,"y":180,"wires":[["736aea65.368cf4"]]},{"id":"736aea65.368cf4","type":"function","z":"f1c45bda.df6458","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0]; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":180,"wires":[["16a74cef.70d4f3"]]},{"id":"7b90dc89.56ece4","type":"comment","z":"f1c45bda.df6458","name":"Comprobar password RFID en  BD","info":"Esta fucnion recibe el numero de identificacion RFID\ndel usuario que desea ingresar, en caso de que la encunetre nos da la informacion de ese usuario, en caso contrario nos devuellve un \"No encontrado\"","x":180,"y":80,"wires":[]},{"id":"6d4494fb.fb4e2c","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/Apertura","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":1870,"y":1260,"wires":[]},{"id":"897763cf.244ff","type":"ui_switch","z":"f1c45bda.df6458","name":"","label":"","tooltip":"","group":"92cab881.5485c8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1570,"y":1260,"wires":[["6d4494fb.fb4e2c"]]},{"id":"f48c5347.71f6a","type":"switch","z":"f1c45bda.df6458","name":"Decicion apertura","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"37.5","vt":"num"},{"t":"gt","v":"37.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":1140,"wires":[["2bdff3ea.a6972c"],["2bbaf4ad.583acc"]]},{"id":"2bbaf4ad.583acc","type":"change","z":"f1c45bda.df6458","name":"cerrar","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1220,"wires":[["897763cf.244ff","46bd86e1.d8ca98","8d2c057c.4b64a8","2b3139b1.8471b6","dba52ff9.acdfb","ef7c7271.23672","14942c49.6002e4","4e8f0869.0a8128"]]},{"id":"2bdff3ea.a6972c","type":"change","z":"f1c45bda.df6458","name":"Abrir","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1120,"wires":[["897763cf.244ff","607ac7be.6f1c28","b69dcf48.4719c","96302a75.038768","32b77759.6b2068","b4138eee.5f81f","8a558026.9e058","ec3bd93c.3bc428"]]},{"id":"b429df68.592e","type":"json","z":"f1c45bda.df6458","name":"","property":"payload","action":"","pretty":false,"x":170,"y":180,"wires":[["5785ca22.c5a4b4"]]},{"id":"5785ca22.c5a4b4","type":"function","z":"f1c45bda.df6458","name":"","func":"msg.payload = msg.payload.RFID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":180,"wires":[["51fa7d34.a531f4"]]},{"id":"5714be7b.4a147","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/SinAcceso","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":1320,"y":220,"wires":[]},{"id":"16a74cef.70d4f3","type":"switch","z":"f1c45bda.df6458","name":"Decision ","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"No encontrado","vt":"str"},{"t":"eq","v":"No encontrado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":180,"wires":[["7bb41049.1231f"],["f6505ce0.1bebb"]]},{"id":"f6505ce0.1bebb","type":"function","z":"f1c45bda.df6458","name":"","func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" No encontrado \\\"}\" ;;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":220,"wires":[["5714be7b.4a147"]]},{"id":"7b25b5ca.94684c","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/LecturaTemperatura","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":1350,"y":160,"wires":[]},{"id":"7bb41049.1231f","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = msg.payload;\nlet nombre = array.nombre;\nlet id = array.id;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ id + \"\\\"}\" ;\n//msg.payload = \"{\\\"nombre\\\":\\\" + nombre +  \\\",\\\"id\\\":\\\"+ id + \\\"}\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":160,"wires":[["7b25b5ca.94684c"]]},{"id":"943f7419.10e278","type":"mqtt in","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/AbrirCerradura","qos":"2","datatype":"auto","broker":"9024296.b4fb6d8","nl":false,"rap":false,"x":190,"y":1040,"wires":[["3d07d2bb.d8b21e"]]},{"id":"3d07d2bb.d8b21e","type":"json","z":"f1c45bda.df6458","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1040,"wires":[["4906fe4e.bd293","a9bc396b.3ac0c8"]]},{"id":"d05cb2bd.90b","type":"ui_text","z":"f1c45bda.df6458","group":"92cab881.5485c8","order":5,"width":0,"height":0,"name":"","label":"Nombre","format":"{{msg.payload}}","layout":"row-spread","x":1740,"y":1040,"wires":[]},{"id":"32b77759.6b2068","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nmsg.payload = array.nombre\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1040,"wires":[["d05cb2bd.90b"]]},{"id":"9ecbd0f8.a1fcf","type":"ui_text","z":"f1c45bda.df6458","group":"92cab881.5485c8","order":1,"width":0,"height":0,"name":"","label":"Id","format":"{{msg.payload}}","layout":"row-spread","x":1730,"y":1080,"wires":[]},{"id":"96302a75.038768","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nmsg.payload = array.id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1080,"wires":[["9ecbd0f8.a1fcf"]]},{"id":"5eed7822.d4fd98","type":"comment","z":"f1c45bda.df6458","name":"Temperatura y apertura de puerta","info":"Esta fucnion recibe la lectura de temperatura coorporal del usuario, asi como su nombre y su id\nposteriormente toma la decicion conforme a la temperatura si deja acceder al usuario o no ","x":190,"y":1000,"wires":[]},{"id":"83f5bc45.0e69c","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/Bloqueo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":530,"y":1360,"wires":[]},{"id":"2c514ef.fa624b2","type":"ui_switch","z":"f1c45bda.df6458","name":"","label":"Bloqueo / Desloqueo cerradura","tooltip":"","group":"829fea5b.a88bf8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":250,"y":1360,"wires":[["83f5bc45.0e69c"]]},{"id":"f4224f36.fcd83","type":"comment","z":"f1c45bda.df6458","name":"Desbloqueo / Bloqueo cerradura","info":"Esta funcion desbloquea la puerta si el administrador asi lo desea ","x":230,"y":1320,"wires":[]},{"id":"9cdd067.6c0c0f8","type":"inject","z":"f1c45bda.df6458","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1460,"wires":[["7495e8ff.65f658"]]},{"id":"7495e8ff.65f658","type":"function","z":"f1c45bda.df6458","name":"","func":"var date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1460,"wires":[["6c395c35.c7b024"]]},{"id":"6c395c35.c7b024","type":"ui_text","z":"f1c45bda.df6458","group":"829fea5b.a88bf8","order":1,"width":0,"height":0,"name":"Fecha ","label":"Fecha ","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1460,"wires":[]},{"id":"c4076b41.d01f78","type":"switch","z":"f1c45bda.df6458","name":"Decicion correo tempertaura","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"37.5","vt":"num"},{"t":"gt","v":"37.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1600,"y":1380,"wires":[[],["366fd333.97a24c"]]},{"id":"366fd333.97a24c","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nlet temperatura =  array.temperatura;\nlet nombre =  array.nombre;\nglobal.temp = temperatura;\n\nmsg.topic = \"Temperatura coorporal Alta !!!\"\nmsg.payload = \"La temperatura coorporal del usuario \" + nombre + \"es de :\" + temperatura ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":1380,"wires":[["dc2be14f.76917"]]},{"id":"46bd86e1.d8ca98","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1380,"wires":[["c4076b41.d01f78"]]},{"id":"98631ef1.fb7b3","type":"comment","z":"f1c45bda.df6458","name":"Comprobar password Teclado en  BD","info":"Esta fucnion recibe el codigo tecleado por\ndel usuario que desea ingresar, en caso de que la encunetre nos da la informacion de ese usuario, en caso contrario nos devuellve un \"No encontrado\"","x":180,"y":280,"wires":[]},{"id":"8d27e11d.76335","type":"mqtt in","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/comparar/teclado","qos":"2","datatype":"auto","broker":"9024296.b4fb6d8","nl":false,"rap":false,"x":180,"y":320,"wires":[["a24a5bc4.9817e8"]]},{"id":"e216ae87.2d841","type":"function","z":"f1c45bda.df6458","name":"","func":"\nmsg.topic = \"SELECT * FROM usuarios where codigo = '\"+ msg.payload +\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["a311c398.9e658"]]},{"id":"a311c398.9e658","type":"mysql","z":"f1c45bda.df6458","mydb":"6cf09c01.dd67a4","name":"","x":600,"y":380,"wires":[["47ffee0e.a9478"]]},{"id":"47ffee0e.a9478","type":"function","z":"f1c45bda.df6458","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0]; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":380,"wires":[["a02beb00.e9adb8"]]},{"id":"a24a5bc4.9817e8","type":"json","z":"f1c45bda.df6458","name":"","property":"payload","action":"","pretty":false,"x":170,"y":380,"wires":[["27cfaab3.da3536"]]},{"id":"27cfaab3.da3536","type":"function","z":"f1c45bda.df6458","name":"","func":"msg.payload = msg.payload.codigo\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":380,"wires":[["e216ae87.2d841"]]},{"id":"2c210871.f6b3e8","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/SinAcceso","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":1280,"y":420,"wires":[]},{"id":"a02beb00.e9adb8","type":"switch","z":"f1c45bda.df6458","name":"Decision ","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"No encontrado","vt":"str"},{"t":"eq","v":"No encontrado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":380,"wires":[["5bf2e8a3.56a718"],["2cac901c.ba1b7"]]},{"id":"2cac901c.ba1b7","type":"function","z":"f1c45bda.df6458","name":"","func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" No encontrado \\\"}\" ;;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":420,"wires":[["2c210871.f6b3e8"]]},{"id":"260730e3.46c5a","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/LecturaTemperatura","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":1310,"y":360,"wires":[]},{"id":"5bf2e8a3.56a718","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = msg.payload;\nlet nombre = array.nombre;\nlet id = array.id;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ id + \"\\\"}\" ;\n//msg.payload = \"{\\\"nombre\\\":\\\" + nombre +  \\\",\\\"id\\\":\\\"+ id + \\\"}\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":360,"wires":[["260730e3.46c5a"]]},{"id":"ba44ae4f.295e7","type":"comment","z":"f1c45bda.df6458","name":"Comprobar id de huella  en  BD","info":"Esta funcion recibe el id de la huella dactilar\ndel usuario que desea ingresar, en caso de que la encunetre nos da la informacion de ese usuario, en caso contrario nos devuellve un \"No encontrado\"","x":160,"y":500,"wires":[]},{"id":"c4e3497b.b35f08","type":"mqtt in","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/comparar/dactilar","qos":"2","datatype":"auto","broker":"9024296.b4fb6d8","nl":false,"rap":false,"x":180,"y":540,"wires":[["3e8895e9.6016da"]]},{"id":"754c9418.614bec","type":"function","z":"f1c45bda.df6458","name":"","func":"\nmsg.topic = \"SELECT * FROM usuarios where dactilar = '\"+ msg.payload +\"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":600,"wires":[["535413c6.a3d8ac"]]},{"id":"535413c6.a3d8ac","type":"mysql","z":"f1c45bda.df6458","mydb":"6cf09c01.dd67a4","name":"","x":600,"y":600,"wires":[["396afe3f.ab6ae2"]]},{"id":"396afe3f.ab6ae2","type":"function","z":"f1c45bda.df6458","name":"","func":"//msg.payload = msg.payload.nombre[1];\nlet array = msg.payload;\nif (array.length > 0 ){\n    msg.payload = array[0]; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}else {\n    msg.payload = \"No encontrado\"; //array.length; //\"Giovanni\";//array[1].nombre\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":600,"wires":[["565c4f5e.d9f92"]]},{"id":"3e8895e9.6016da","type":"json","z":"f1c45bda.df6458","name":"","property":"payload","action":"","pretty":false,"x":170,"y":600,"wires":[["5934e728.c975e8"]]},{"id":"5934e728.c975e8","type":"function","z":"f1c45bda.df6458","name":"","func":"msg.payload = msg.payload.dactilar\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":600,"wires":[["754c9418.614bec"]]},{"id":"4925c7de.9421b8","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/SinAcceso","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":1280,"y":640,"wires":[]},{"id":"565c4f5e.d9f92","type":"switch","z":"f1c45bda.df6458","name":"Decision ","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"No encontrado","vt":"str"},{"t":"eq","v":"No encontrado","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":600,"wires":[["cbb2e5cc.85b528"],["3c841040.f8374"]]},{"id":"3c841040.f8374","type":"function","z":"f1c45bda.df6458","name":"","func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" No encontrado \\\"}\" ;;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":640,"wires":[["4925c7de.9421b8"]]},{"id":"111e574c.370939","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/LecturaTemperatura","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":1310,"y":580,"wires":[]},{"id":"cbb2e5cc.85b528","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = msg.payload;\nlet nombre = array.nombre;\nlet id = array.id;\nmsg.payload = \"{\\\"nombre\\\":\\\" \"+ nombre + \" \\\",\\\"id\\\":\\\"\"+ id + \"\\\"}\" ;\n//msg.payload = \"{\\\"nombre\\\":\\\" + nombre +  \\\",\\\"id\\\":\\\"+ id + \\\"}\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":580,"wires":[["111e574c.370939"]]},{"id":"cce68a90.92e1d8","type":"function","z":"f1c45bda.df6458","name":"Variable global de aforo","func":"let GlobalAforo = 0 ;\nglobal.set(\"Aforo\",GlobalAforo);\n\nmsg.payload = global.get(\"Aforo\");\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":900,"wires":[["b43b5edb.a48b6"]]},{"id":"54f8fb32.090a44","type":"mqtt in","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/boton","qos":"2","datatype":"auto","broker":"9024296.b4fb6d8","nl":false,"rap":false,"x":1140,"y":840,"wires":[["4660d0d0.65849"]]},{"id":"4660d0d0.65849","type":"function","z":"f1c45bda.df6458","name":"","func":"\n\n\nlet aforo = global.get(\"Aforo\");\naforo -= 1 ;\n\nglobal.set(\"Aforo\",aforo);\n\nmsg.payload = aforo ;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":840,"wires":[["b43b5edb.a48b6"]]},{"id":"b43b5edb.a48b6","type":"ui_text","z":"f1c45bda.df6458","group":"829fea5b.a88bf8","order":4,"width":0,"height":0,"name":"","label":"Aforo Actual","format":"{{msg.payload}}","layout":"row-spread","x":1530,"y":900,"wires":[]},{"id":"b69dcf48.4719c","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nmsg.payload = array.area\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1120,"wires":[["df0d7881.409388"]]},{"id":"df0d7881.409388","type":"ui_text","z":"f1c45bda.df6458","group":"92cab881.5485c8","order":2,"width":0,"height":0,"name":"","label":"Area","format":"{{msg.payload}}","layout":"row-spread","x":1730,"y":1120,"wires":[]},{"id":"ddbb8f8.b552e7","type":"ui_slider","z":"f1c45bda.df6458","name":"Aforo permitido slide","label":"Aforo permitido ","tooltip":"","group":"829fea5b.a88bf8","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"1","max":"40","step":1,"x":1060,"y":780,"wires":[["29722d29.d68d32"]]},{"id":"d5a45860.053158","type":"ui_text","z":"f1c45bda.df6458","group":"829fea5b.a88bf8","order":2,"width":0,"height":0,"name":"","label":"Aforo permitido","format":"{{msg.payload}}","layout":"row-spread","x":1520,"y":780,"wires":[]},{"id":"29722d29.d68d32","type":"function","z":"f1c45bda.df6458","name":"Variable global de aforo","func":"let GlobalAforoPermitido = msg.payload ;\nglobal.set(\"AforoPermitido\",GlobalAforoPermitido);\n\nmsg.payload = global.get(\"AforoPermitido\");\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":780,"wires":[["d5a45860.053158","cd202459.f238f8"]]},{"id":"607ac7be.6f1c28","type":"function","z":"f1c45bda.df6458","name":"","func":"let aforo = global.get(\"Aforo\");\naforo += 1 ;\n\nglobal.set(\"Aforo\",aforo);\n\nmsg.payload = aforo ;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":960,"wires":[["b43b5edb.a48b6"]]},{"id":"80e346c7.3f2cf8","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/AforoLleno","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":760,"y":1200,"wires":[]},{"id":"95d90b39.072808","type":"function","z":"f1c45bda.df6458","name":"","func":"\nmsg.payload = \"{\\\"Mensaje\\\":\\\" Aforo lleno \\\"}\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1140,"wires":[["80e346c7.3f2cf8"]]},{"id":"4906fe4e.bd293","type":"function","z":"f1c45bda.df6458","name":"Variable global de Usuario","func":"let usuario = msg.payload ;\nglobal.set(\"usuario\",usuario);\n\nmsg.payload = global.get(\"usuario\");\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1020,"wires":[[]]},{"id":"f7905101.2798","type":"switch","z":"f1c45bda.df6458","name":"Decicion apertura aforo","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"AforoPermitido","vt":"global"},{"t":"gt","v":"AforoPermitido","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":1080,"wires":[["8e21ee1d.17cac"],["95d90b39.072808"]]},{"id":"a9bc396b.3ac0c8","type":"function","z":"f1c45bda.df6458","name":"","func":"let aforo = global.get(\"Aforo\");\naforo += 1 ;\n\n//global.set(\"Aforo\",aforo);\n\nmsg.payload = aforo ;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1080,"wires":[["f7905101.2798"]]},{"id":"b4138eee.5f81f","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1160,"wires":[["b13813e8.4c336","517b4ea9.5026e"]]},{"id":"b13813e8.4c336","type":"ui_gauge","z":"f1c45bda.df6458","name":"","group":"92cab881.5485c8","order":10,"width":0,"height":0,"gtype":"gage","title":"Temperatura corporal","label":"centigrados","format":"{{value}}","min":0,"max":"43","colors":["#e6e600","#44ff00","#ff0000"],"seg1":"35","seg2":"37.5","x":1920,"y":1120,"wires":[]},{"id":"517b4ea9.5026e","type":"ui_chart","z":"f1c45bda.df6458","name":"Temperaturas de usuarios","group":"92cab881.5485c8","order":11,"width":0,"height":0,"label":"Temperaturas de usuarios","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1950,"y":1160,"wires":[[]]},{"id":"8e21ee1d.17cac","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1060,"wires":[["f48c5347.71f6a"]]},{"id":"ef776238.d3897","type":"mqtt out","z":"f1c45bda.df6458","name":"","topic":"esp32/cerradura/TemperaturaAlta","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f8d4146.cd37fe","x":1900,"y":1320,"wires":[]},{"id":"8d2c057c.4b64a8","type":"function","z":"f1c45bda.df6458","name":"","func":"msg.payload = \"{\\\"Mensaje\\\":\\\" Temperatura Alta \\\"}\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1320,"wires":[["ef776238.d3897"]]},{"id":"e3382323.cd17e","type":"ui_text","z":"f1c45bda.df6458","group":"5727e35.341281c","order":2,"width":0,"height":0,"name":"","label":"Nombre","format":"{{msg.payload}}","layout":"row-spread","x":1560,"y":1460,"wires":[]},{"id":"2b3139b1.8471b6","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nmsg.payload = array.nombre\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":1460,"wires":[["e3382323.cd17e"]]},{"id":"c504789.a621d88","type":"ui_text","z":"f1c45bda.df6458","group":"5727e35.341281c","order":1,"width":0,"height":0,"name":"","label":"Id","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":1500,"wires":[]},{"id":"dba52ff9.acdfb","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nmsg.payload = array.id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":1500,"wires":[["c504789.a621d88"]]},{"id":"ef7c7271.23672","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nmsg.payload = array.area ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":1540,"wires":[["dfd20dd6.36c2"]]},{"id":"dfd20dd6.36c2","type":"ui_text","z":"f1c45bda.df6458","group":"5727e35.341281c","order":1,"width":0,"height":0,"name":"","label":"Area","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":1540,"wires":[]},{"id":"14942c49.6002e4","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nlet temperatura =  array.temperatura;\nmsg.payload = temperatura;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":1600,"wires":[["dc72ce2e.8ca15","bfb8d6ee.fce8b8"]]},{"id":"dc72ce2e.8ca15","type":"ui_gauge","z":"f1c45bda.df6458","name":"","group":"5727e35.341281c","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura corporal","label":"centigrados","format":"{{value}}","min":0,"max":"43","colors":["#e6e600","#44ff00","#ff0000"],"seg1":"35","seg2":"37.5","x":1700,"y":1580,"wires":[]},{"id":"bfb8d6ee.fce8b8","type":"ui_chart","z":"f1c45bda.df6458","name":"Temperaturas de usuarios","group":"5727e35.341281c","order":3,"width":0,"height":0,"label":"Temperaturas de usuarios","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1710,"y":1620,"wires":[[]]},{"id":"782ac6c.1d77238","type":"comment","z":"f1c45bda.df6458","name":"Insertar BD","info":"Insertar en la BD de datos","x":1950,"y":1200,"wires":[]},{"id":"8a558026.9e058","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nlet idUsuario = array.id;\nlet nombre = array.nombre;\nlet temp = array.temperatura;\nlet area = array.area;\n\nmsg.topic = \"INSERT INTO temperaturas(id_usuario, nombre, Temperatura, area) VALUES ('\"+ idUsuario +\"','\"+ nombre +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1200,"wires":[["ffd52ae4.04ab98"]]},{"id":"ffd52ae4.04ab98","type":"mysql","z":"f1c45bda.df6458","mydb":"6cf09c01.dd67a4","name":"","x":1800,"y":1200,"wires":[[]]},{"id":"857697e2.669918","type":"comment","z":"f1c45bda.df6458","name":"Insertar BD","info":"Insertar en la BD de datos","x":1710,"y":1680,"wires":[]},{"id":"4e8f0869.0a8128","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\nlet idUsuario = array.id;\nlet nombre = array.nombre;\nlet temp = array.temperatura;\nlet area = array.area;\n\nmsg.topic = \"INSERT INTO temperaturas(id_usuario, nombre, Temperatura, area) VALUES ('\"+ idUsuario +\"','\"+ nombre +\"','\"+ temp +\"','\"+ area +\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":1680,"wires":[["43dc8d11.071254"]]},{"id":"43dc8d11.071254","type":"mysql","z":"f1c45bda.df6458","mydb":"6cf09c01.dd67a4","name":"","x":1560,"y":1680,"wires":[[]]},{"id":"cd202459.f238f8","type":"ui_chart","z":"f1c45bda.df6458","name":"","group":"829fea5b.a88bf8","order":6,"width":0,"height":0,"label":"Aforo permitio","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"useUTC":false,"colors":["#ff1900","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1520,"y":720,"wires":[[]]},{"id":"aceb57d.92de6a8","type":"comment","z":"f1c45bda.df6458","name":"Ejemplos","info":"","x":160,"y":1560,"wires":[]},{"id":"c3c6a5b6.2ef618","type":"ui_button","z":"f1c45bda.df6458","name":"","group":"829fea5b.a88bf8","order":5,"width":0,"height":0,"passthru":false,"label":"Reset aforo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1030,"y":900,"wires":[["cce68a90.92e1d8"]]},{"id":"dc2be14f.76917","type":"e-mail","z":"f1c45bda.df6458","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"capstonegabanni@gmail.com","dname":"","x":2070,"y":1380,"wires":[]},{"id":"c86c3bf7.5ce138","type":"ui_table","z":"f1c45bda.df6458","group":"feeef7f9.470b08","name":"","order":1,"width":"10","height":"12","columns":[{"field":"Nombre","title":"Nombre","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Area","title":"Area","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Temperatura","title":"Temperatura","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Fecha","title":"Fecha","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1730,"y":980,"wires":[[]]},{"id":"ec3bd93c.3bc428","type":"function","z":"f1c45bda.df6458","name":"","func":"let array = global.get(\"usuario\");\n\nlet nombre = array.nombre ;\nlet area = array.area ;\nlet temperatura =  array.temperatura;\n\nconst tiempoTranscurrido = Date.now();\nconst hoy = new Date(tiempoTranscurrido);\n\nmsg.payload= {\n    command: \"addData\",\n    arguments: [\n        {\n            \"Nombre\": nombre,\n            \"Area\": area,\n            \"Temperatura\": temperatura,\n            \"Fecha\": hoy.toISOString()\n        },\n        true\n    ],\n    returnPromise: true\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":980,"wires":[["c86c3bf7.5ce138","140e929a.fc7afd"]]},{"id":"140e929a.fc7afd","type":"debug","z":"f1c45bda.df6458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1780,"y":940,"wires":[]},{"id":"6cf09c01.dd67a4","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"cerradura","tz":"","charset":"UTF8"},{"id":"9024296.b4fb6d8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"GiovanniOlmos-SIC-2398","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3f8d4146.cd37fe","type":"mqtt-broker","name":"Gos","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"92cab881.5485c8","type":"ui_group","name":"Ultimo usuario accedido","tab":"14dd5443.51457c","order":2,"disp":true,"width":"10","collapse":false},{"id":"829fea5b.a88bf8","type":"ui_group","name":"Control -  Laboratorio de Sistemas Digitales","tab":"14dd5443.51457c","order":1,"disp":true,"width":"8","collapse":false},{"id":"5727e35.341281c","type":"ui_group","name":"Ultimo usuario accedido - Temperatura alta","tab":"14dd5443.51457c","order":3,"disp":true,"width":"10","collapse":false},{"id":"feeef7f9.470b08","type":"ui_group","name":"Ingresos","tab":"14dd5443.51457c","order":5,"disp":true,"width":"10","collapse":false},{"id":"14dd5443.51457c","type":"ui_tab","name":" Laboratorio de Sistemas Digitales","icon":"dashboard","order":9,"disabled":false,"hidden":false}]